# file types to ignore

*.pyc
*.obj
*.lib
*.pch
*.vcproj
*.exp
*.dep
*.manifest
*.hh
*.o
*.orig
qrc_*.cpp
*Imp.cpp
*Py.cpp
*.cpp_parameters
*Py.h
BuildLog.htm
cmake_install.cmake
*~
CMakeFiles/
/CMakeDoxyfile.in
/CMakeDoxygenDefaults.cmake
*qrc.depends
ui_*.h
moc_*.cpp
Makefile
CMakeCache.txt
CMakeLists.txt.user
/src/App/CMakeScript.h
*InitScript.h
*FreeCADpov.h
config.h
install_manifest.txt
/bin/
/ALL_BUILD.dir/
/doc/
/Ext/
/lib/
/LibraryVersions.h
/SMESH_Version.h
/src/Build/Version.h
/src/Build/Version.h.in
/src/Build/Version.h.out
/src/Doc/mainpage.dox
/src/Doc/BuildDevDoc.cfg
/src/Doc/BuildWebDoc.cfg
/src/App/TestScript.h
/src/Base/Parameter.inl
/src/QtOpenGL.h
/src/Base/swigpyrun.h

/Mod/
/share/
/data/Gui/
/org.freecadweb.FreeCAD.appdata.xml
/ZERO_CHECK.dir/
/build/
/src/Tools/offlinedoc/localwiki/
/src/Tools/offlinedoc/*.txt
*_rc.py
.subuser-dev
/\.idea/
.tags
tags
/\.vscode/

# crowdin file
src/Tools/freecad.zip

